.Category {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.Category-selected {
  background-color: #edf7ff;
}

.Category h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 20px;
}
