.Map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 58%;
  background: #fff;
}

.leaflet-left {
  right: 10px;
  left: auto;
}

.leaflet-bar {
  border-radius: 1px;
  box-shadow: none;
  border: 1px solid #ccc;
}

.leaflet-bar a {
  border-radius: 0 !important;
}

.leaflet-control-attribution {
  display: none;
}
