.Map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 58%;
  background: #fff;
  box-sizing: border-box;
}

.leaflet-left {
  right: 10px;
  left: auto;
}

.leaflet-bar {
  border-radius: 1px;
  box-shadow: none;
  border: 1px solid #ccc;
}

.leaflet-bar a {
  border-radius: 0 !important;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
}

.leaflet-popup-content {
  margin: 8px 20px 8px 12px !important;
  line-height: 18px;
}

.leaflet-popup-close-button {
  font-weight: normal;
}

.leaflet-popup-content h2 {
  margin: 5px 0;
  font-size: 14px;
}
